<div class="main-banner bg bg1" id="home">
    <!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1>
    <a href="/" class="editContent" style="color: #ffffff; font-size: 40px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Source Sans Pro', sans-serif;">
        Tengry News Copy
    </a>
</h1>

                </div>

                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <a href="/" class="button-like">Главная</a>
                    <li>
                        <!-- First Tier Drop Down -->
                        <input type="checkbox" id="drop-2">
                    </li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!--/banner-->
    <!--// banner-inner -->

</div>

